div {
    margin: 1rem 0rem;
}
input {
    margin-right: 1rem;
}
li.note-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li.note-row div {
    width: 75%;
}
li button {
    width: 20%;
    height: 2rem;
}
